@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@font-face {
	font-family: "Cinzel";
	src: url("/fonts/Cinzel-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

/* @theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}


body {
	font-family: "Cinzel", serif;
	background-color: #ffffff;
	color: #171717;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.filter-icon {
	filter: brightness(0) saturate(0) invert(87%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(95%) contrast(90%) ;
}