@import "tailwindcss";

@layer utilities {
    /* Bisogna aggiungere "filter icon-white" per poterlo utilizzare */
    .icon-white {
        --tw-invert: invert(1);
        --tw-brightness: brightness(0);
        --tw-saturate: saturate(0);
    }
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@font-face {
	font-family: "Cinzel";
	src: url("/fonts/Cinzel-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

/* @theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	font-family: "Cinzel", serif;
	background-color: #ffffff;
	color: #171717;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html , body , div {
    scroll-behavior: smooth;
	scrollbar-gutter: stable overlay;
}

/* 
    Webkit : Safari desktop/macOS - Edge Chromium desktop - Chrome desktop 
    Non sono supportat Firefox e browser legacy
*/
html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* arrows */
html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button,
div::-webkit-scrollbar-button {
    display: none; 
}

/* bg scrollbar container */
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.856) ;
    border-radius: 0px;
}

/* barra di scorrimento */
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background: linear-gradient(
        rgba(100, 100, 100, 0.4),  /* grigio semitrasparente */
        rgba(255, 255, 255, 0.2)   /* sfuma leggermente verso il bianco */
    );
    /* border: 1px solid rgba(255, 255, 255, 0.2);  */
    backdrop-filter: blur(10px);
    border-radius: 0px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.5);
}

/* Scrollbar hidden */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
    width: 0; 
    height: 0;
    scroll-behavior: smooth;
}

.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

.filter-icon {
	filter: brightness(0) saturate(0) invert(87%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(95%) contrast(90%) ;
}
